@model IEnumerable<FoodDeliverySystem.Models.DBContext.Restaurant_category>
@foreach (var item in Model)
{
    <a href="@Url.Action("ListCategoryRestaurant", "Restaurants", new { location = Session["location"], category= item.restaurant_category_id, page = 1})">
        <span class="category-item ">@item.restaurant_category_name</span>
    </a>
    
}

